<!-- ejs 写法，基本和html一样 -->
<!--vue和react本身也可以说是一中模板引擎，只不过比ejs更加复杂，
他们有响应式的功能，还有数据处理相关的-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node</title>
    <link href="/test.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
    <h1>this is node server</h1>
    <p>hhhhhh</p>

    <div>
        <%= word %>
    </div>
</div>
</body>
</html>