<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node</title>
    <link href="/test.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="class1">
    <ul style="color: chartreuse">
        <li>
            <%= name %>
        </li>
        <li>
            <%= price %>
        </li>
        <li>
            <%= count %>
        </li>
    </ul>
</div>
</body>
</html>